@tailwind base;

@tailwind utilities;
.overflow-auto {
  overflow-y: overlay;
  overflow-x: auto;
}

.customer-scroll-bar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-size: 12px;
}

body {
  background-color: #ffffff
}

p {
  @apply pb-2;
}
:focus {
  outline-style: none;
}
div {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}